@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
    font-family: 'Roboto', 'sans-serif';
    padding: 0.2rem;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 248, 248);
}

section {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 15px;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    color: white;
    border-radius: 15px;
    list-style: none;
}

.number{
    text-align: end;
    color: rgba(0, 0, 0, 0.212);
    font-size: 0.85em;
}

.name {
    margin: .1em  0;
    padding: 0;
    font-weight: 700;
    text-transform: capitalize;
}

.detalhes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.types {
    list-style: none;
    padding: 0;
    margin: 0;
}

.types > li {
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 0.85em;
    filter: brightness(1.1);
}

.detalhes > img {
    max-width: 100%;
    height: 70px;
}

#loadMore {
    display: block;
    margin: auto;
    border: none;
    background-color: rgba(190, 190, 190, 0.795);
    border-radius: 8px;
    font-weight: 700;
    padding: 5px;
}

#loadMore:hover {
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}